*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: unset;
}

.white{
    color: white;
}

h1.head-text {
    font-weight: bold;
}
h2.head-text{
    font-size: medium;
}

.header-class {
    padding: 30px;
    background: #406b8c;
    height: 125px;
}

img.img-logo{
    width: 20px;
}

.img-me{
    width: 125px;
}

.head-text{
    color: white;
    padding-left: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

address{
    padding-left: 200px;
}

address a:link{
    padding-left: 10px;
    text-decoration: underline;
    color: lightgray;
}
address a:visited{
    color: darkgray;
}

h3.contact{
    padding-top: 20px;
    padding-bottom: 7px;
    color: #0098cf;
    font-size: 16px;
}

hr.mid-hr{
    margin-left: -10px;
    border: 1px solid #0098cf;
    width: 50%;
    margin-bottom: 10px;
}

.left-section{
    padding-left: 35px;
}

.left-section p{
    color: #555555;
}

.contact-formation{
    font-size: 14px;
    padding-top: 20px;
    font-style: italic;
}

.form-strong{
    font-weight: bold;
    color: black;
}

.form-etab{
    color: #0098cf;
}

.tableau{
    padding: 0;
    list-style: none;
}
